USE [master]
GO
/****** Object:  Database [Computer_Сompany]    Script Date: 02.12.2021 20:35:27 ******/
CREATE DATABASE [Computer_Сompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Computer_Сompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Computer_Сompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Computer_Сompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Computer_Сompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Computer_Сompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Computer_Сompany]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 02.12.2021 20:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[IdComponents] [int] NOT NULL,
	[IdType] [int] NOT NULL,
	[Brand] [nvarchar](100) NOT NULL,
	[Firm] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[ReleaseDate] [date] NULL,
	[Characteristic] [nvarchar](100) NULL,
	[WarrantyPeriod] [date] NULL,
	[Description] [nvarchar](100) NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 02.12.2021 20:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IdCustomer] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Telephone] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 02.12.2021 20:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[DateOrders] [date] NOT NULL,
	[DateExecution] [date] NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[IdComponents1] [int] NOT NULL,
	[IdComponents2] [int] NOT NULL,
	[IdComponents3] [int] NOT NULL,
	[ShereOfPrepayment] [money] NOT NULL,
	[PaymentMark] [bit] NOT NULL,
	[ExecutionMark] [bit] NOT NULL,
	[Price] [money] NOT NULL,
	[WarrantyPeriod] [date] NOT NULL,
	[IdService1] [int] NOT NULL,
	[IdService2] [int] NOT NULL,
	[IdService3] [int] NOT NULL,
	[IdStaff] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 02.12.2021 20:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[IdPosition] [int] NOT NULL,
	[NamePosition] [nvarchar](100) NOT NULL,
	[Money] [money] NOT NULL,
	[Responsibilities] [nvarchar](100) NULL,
	[Requirements] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 02.12.2021 20:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[IdService] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 02.12.2021 20:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[IdStaff] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[Floor] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Telephone] [int] NULL,
	[PassportData] [int] NULL,
	[IdPosition] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeComponents]    Script Date: 02.12.2021 20:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeComponents](
	[IdType] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
